.widget-songkick {
	padding: 20px;
	h3 {
		margin: 0 0 24px;
		font-size: 24px;
		font-weight: 300;
	}
	.events-list{
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			font-size: 12px;
			line-height: 18px;
			margin: 0 0 5px;
			padding: 0;
			font-weight: bold;
		}
	}
}