<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
<h2 class="title">Hacker News</h2>
<div class="grid">
	<ul class="news-posts">
		<li class="grid__item span-one-whole" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="post in posts.items | orderBy:'points':reverse=true">
			<a target="_blank" href="{{ post.url }}"><p class="headline">{{ post.title }}</p></a>
			<p class="postinfo"> {{ post.points + " points"}}  {{ post.postedAgo }}</p>
		</li>
	</ul>
</div>