<div class="news-section grid__item span-three-quarters push--one-eighth" ng-controller="HackerNewsController">
	<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
	<h3 class="title">Hacker News</h3>
	<div class="grid">
		<ul class="news-posts">
			<li class="grid__item span-one-whole" ng-repeat="post in posts.items | orderBy:'points':reverse=true">
				<a target="_blank" href="{{ post.url }}"><p class="headline">{{ post.title }}</p></a>
				<p class="summary"> {{ post.points + " points"}}  {{ post.postedAgo }}</p>
			</li>
		</ul>
	</div>
</div>