.news-section {
	min-height: 500px;
	h3 {
		margin: $vertical-rhythm 0 $vertical-rhythm*6;
		text-align: center;
		border-bottom: $thin-grey-border;
		padding-bottom: $vertical-rhythm*2;
	}
}

.news-posts {
	list-style-type: none;
	padding: 0;
	li {
		margin-bottom: $vertical-rhythm;
		// padding-right: $vertical-rhythm * 3;
		a:hover {
			text-decoration: none;
		}
		&:hover {
			.summary {
				visibility: visible;
				opacity: 0.7;
			}
		}
		&:nth-child(n+13) {
			display: none;
		}
	}
	.headline {
		margin: 0;
	}
	.summary {
		margin: 0;
		font-size: 60%;
		visibility: hidden;
		opacity: 0;
		@include vendor-prefix(transition, 0.3s ease all);
	}
}