body {
	border: 16px solid $color-green-sea;
	color: #000;
	background: $color-turquoise;
	overflow-x: hidden;
}

.container {
	margin: $horizontal-spacing*2 auto $horizontal-spacing*4;
	padding: $horizontal-spacing*2;
	background: #fff;
}

#page-root {
	padding: $horizontal-spacing*2 0;
}
