body {
	border: 16px solid $color-midnight-blue;
	color: #000;
	background: $color-wet-asphalt;
	overflow-x: hidden;
}

.container {
	margin: 0 auto $horizontal-spacing*4;
	padding: $horizontal-spacing*2;
	background: #fff;
}

.header-container {
	margin: $horizontal-spacing*2 auto 0;
	background: $color-super-dark-blue;
}

#page-root {
	padding: $horizontal-spacing*2 0;
}
