/* Vertical Alignment Helpers */

.valign-parent {
	white-space: nowrap;
}

.valign {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.valign-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

/* Fade Animation Classes */

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

/* Scaling Animations */

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}