/* Vertical Alignment Helpers */

.valign-parent {
	white-space: nowrap;
}

.valign {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.valign-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

/* Fade Animation Classes */

.is-hidden {
	visibility: hidden;
	opacity: 0;
}

.is-visible {
	visibility: visible;
	opacity: 1;
}

/* Grid Overlay Debug */

.grid-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 1500px;
	.container {
		background: rgba(0,0,200,0.3);
	}
}