<div class="container-cell widget-weather valign-parent" ng-controller="WeatherController">
	<div class="widget-inner">
		<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
		<div class="weather-data-container valign is-hidden" ng-class="{ 'is-hidden': !isLoaded, 'is-visible': isLoaded }">
			<p class="temperature-label">It is currently</p>
			<h3 class="current-temperature text-shadow">{{ weather.main.temp | number: 0 }}&deg;</h3>
		</div>
		<div class="valign-helper"></div>
	</div>
</div>


<div class="container-cell"></div>
<div class="container-cell"></div>

<div class="container-cell widget-songkick valign-parent" ng-controller="SongkickController">
	<div class="widget-inner">
		<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
		<div class="valign is-hidden" ng-class="{ 'is-hidden': !isLoaded, 'is-visible': isLoaded }">
			<h3>Upcoming Shows</h3>
			<ul class="events-list" ng-repeat="event in events">
				<li>{{event.displayName}}</li>
			</ul>
		</div>
		<div class="valign-helper"></div>
	</div>
</div>

<div class="container-cell"></div>