<div class="grid">
	<div class="news-section grid__item span-one-whole" ng-controller="HackerNewsController">
		<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
		<h3 class="title">Hacker News</h3>
		<div class="grid">
			<ul class="news-posts">
				<li class="grid__item span-one-quarter" ng-repeat="post in posts.items">
					<a href="{{ post.url }}"><p>{{ post.title }}</p></a>
					<p class="summary"> {{ post.points + " points"}} by {{ post.postedBy }} {{ post.postedAgo }} | {{ post.commentCount + " comments" }}</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- <div class="container-cell widget-songkick valign-parent" ng-controller="BandsinTownController">
	<div class="widget-inner">
		<div class="loading-spinner" ng-class="{ 'is-hidden': isLoaded, 'is-visible': !isLoaded }"></div>
		<div class="valign is-hidden" ng-class="{ 'is-hidden': !isLoaded, 'is-visible': isLoaded }">
			<h3>Upcoming Shows</h3>
			<ul class="events-list">
				<li ng-repeat="event in events">
					<span ng-repeat="artist in artists">
						<h2 ng-repeat="name in artist">
							{{ name.name }}
						</h2>
					</span>
					
				</li>
			</ul>
		</div>
		<div class="valign-helper"></div>
	</div>
</div> -->